*.joblib
*.ipynb
processed_data/*
data/*
ipython_notebooks/*
!processed_data/__init__.py
!data/__init__.py
!ipython_notebooks/__init__.py
*.ipynb_checkpoints
*.DS_Store
*.pyc
checkpoints/
__pycache__/
